:root {
  --main-color: #3e64ff;
}
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}
.mx-1 {
  margin-left: 2px;
  margin-right: 2px;
}
